<!-- Sidebar -->
<div
  class="container"
  [ngClass]="{ sidebarOn: sidebarState }"
  (mouseenter)="hover()"
  (mouseleave)="hover()"
>
  <ul class="container__list">
    <li class="list__item">
      <a [routerLink]="['/']">
        <i class="fas fa-store"></i>
        <p [ngClass]="{ sidebarOnLinkP: sidebarState }">Tienda</p>
      </a>
    </li>
    <li class="list__item" [ngClass]="{ sidebarOnList: sidebarState }">
      <a [routerLink]="['/admin']">
        <i class="fas fa-columns"></i>
        <p [ngClass]="{ sidebarOnLinkP: sidebarState }">Dashboard</p>
      </a>
    </li>
    <li class="list__item" [ngClass]="{ sidebarOnList: sidebarState }">
      <a [routerLink]="['/admin/users']"
        ><i class="fas fa-users"></i>
        <p [ngClass]="{ sidebarOnLinkP: sidebarState }">Users</p></a
      >
    </li>
  </ul>
</div>
<!-- Sidebar -->
